<% layout('layouts/boilerplate')%>
<head>
    <link rel="stylesheet" href="/styles/kalo.css">
</head>
<section class="kalo">
    <!-- <div class="animate from-up delay-0 category-info pb-0 mb-0" style="width: 100%;">
        <div class="image">
            <h1 class="fajny-shadow">KALOryfer</h1>
            <h5 class="fajny-shadow">Spotkania Młodzieżowe</h5>
            <img src="/photos/spotkania/kalo_kontakt.jpg" class="top-strony"/>
        </div>
    </div> -->
    <section class="container kalo px-0">
        <section class="container-fluid px-0 kalo" style="max-width: 95em;user-select: none;">
            <div class="row align-items-center">
                <div class="col-lg-6 text-center text-light d-none d-lg-block">
                    <div>
                        <h2 class="napis"><span class="black animate from-up delay-0">K</span><span class="animate from-up delay-1">ALORYFER</span></h2>
                        <h2 class="napis"><span class="animate from-up delay-1">K</span><span class="black animate from-up delay-ms-10">A</span><span class="animate from-up delay-1">LORYFER</span></h2>
                        <h2 class="napis"><span class="animate from-up delay-1">KA</span><span class="black animate from-up delay-ms-12">L</span><span class="animate from-up delay-1">ORYFER</span></h2>
                        <h2 class="napis"><span class="animate from-up delay-1">KAL</span><span class="black animate from-up delay-ms-14">O</span><span class="animate from-up delay-1">RYFER</span></h2>
                        <h2 class="napis"><span class="animate from-up delay-1">KALO</span><span class="black animate from-up delay-ms-16">R</span><span class="animate from-up delay-1">YFER</span></h2>
                        <h2 class="napis"><span class="animate from-up delay-1">KALOR</span><span class="black animate from-up delay-ms-18">Y</span><span class="animate from-up delay-1">FER</span></h2>
                        <h2 class="napis"><span class="animate from-up delay-1">KALORY</span><span class="black animate from-up delay-ms-20">F</span><span class="animate from-up delay-1">ER</span></h2>
                        <h2 class="napis"><span class="animate from-up delay-1">KALORYF</span><span class="black animate from-up delay-ms-22">E</span><span class="animate from-up delay-1">R</span></h2>
                        <h2 class="napis"><span class="animate from-up delay-1">KALORYFE</span><span class="black animate from-up delay-ms-24">R</span></h2>
                    </div>
                </div>
                <div class="animate from-up delay-ms-28 col-lg-6 px-0"><img class="img-fluid" src="/photos/kalo/kalo.png" alt="kalo"></div>
            </div>
        </section>
        <section class="animate from-up delay-ms-20 container-fluid px-0 kalo">
            <div class="row align-items-center content">
                <div class="col-md-6 order-2 order-md-1 px-0">
                    <img src="/photos/kalo/mac.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-md-6 py-sm-4 text-center text-light order-1 order-md-2">
                    <div class="row justify-content-center">
                        <div class="col-10 col-lg-8">
                            <h2>Kim jesteśmy?</h2>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chat-square-heart d-none d-lg-inline" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12ZM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Z"/>
                                <path d="M8 3.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
                            </svg>
                            <p class="lead">
                                Jako KALO jesteśmy chrześcijańską grupą młodzieży i studentów, którzy pragną pokazać, że Bóg nie jest tylko w kościele,
                                a działa w naszym życiu na co dzień. Na maksa chcemy robić coś dobrego dla innych!     
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="animate from-up delay-ms-20 container-fluid px-0 kalo">
            <div class="row align-items-center content">
                <div class="col-md-6 order-2 order-md-2 px-0">
                    <img src="/photos/kalo/igo.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-md-6 py-sm-4 text-center text-light order-1 order-md-1">
                    <div class="row justify-content-center">
                        <div class="col-10 col-lg-8">
                            <h2>Co robimy na KALO?</h2>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chat-square-heart d-none d-lg-inline" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12ZM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Z"/>
                                <path d="M8 3.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
                            </svg>
                            <p class="lead">
                                Na naszych piątkowych spotkaniach budujemy relacje spedzając ze sobą czas przy rozmowach, muzyce i grach - a do tego mamy
                                (darmowe) jedzenie!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="animate from-up delay-ms-20 container-fluid px-0 kalo">
            <div class="row align-items-center content">
                <div class="col-md-6 order-2 order-md-1 px-0">
                    <img src="/photos/kalo/uwi.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-md-6 py-sm-4 text-center text-light order-1 order-md-2">
                    <div class="row justify-content-center">
                        <div class="col-10 col-lg-8">
                            <h2>Czy muszę być "jakiś", by przyjść?</h2>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chat-square-heart d-none d-lg-inline" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12ZM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Z"/>
                                <path d="M8 3.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
                            </svg>
                            <p class="lead">
                                Nie! Jesteś zawsze mile widziany - niezależnie od tego w co wierzysz i jakie masz poglądy! Serio! ^^
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="animate from-up delay-ms-20 container-fluid px-0 kalo">
            <div class="row nomargin align-items-center">
                <div class="col-12 col-md-6 justify-content-center text-center my-5 text-light">
                    <h2>Kiedy i gdzie się spotykamy?</h2>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chat-square-heart d-none d-lg-inline" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12ZM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Z"/>
                        <path d="M8 3.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
                    </svg>
                    <p class="lead">
                        <b>Kiedy:</b>  Każdy <u><b>piątek o 18:00</b></u> podczas roku szkolnego!<br>
                        <b>Gdzie:</b>  Gorzów Wielkopolski, Słoneczna 6 (na piętrze)<br>
                        <b>Info:</b>  Zawsze przed spotkaniem sprawdź nasze media!<br>
                        To tam informujemy jeśli spotkanie jest odwołane.
                    </p>
                </div>
                <div class="col-12 col-md-6 bg-light justify-content-center text-center py-5">
                    <div style="user-select: none;" class="py-5 text-light">
                        <div class="bg-light py-5">
                            <h2 class="text-center text-dark">Napisz do nas!</h2>
                            <div class="ikonykontakt mt-3">
                                <div class="ikonki row">
                                    <a id="kalofbb" onclick="kalofb()" class="col fa-brands fa-kalo fa-facebook p-0 mb-0 mb-sm-3" id="kalofb"></a>
                                    <a id="igkalo" onclick="kaloig()" class="col fa-brands fa-kalo fa-instagram p-0"></a>
                                    <button onclick="copyText(); myFunction()" id="mailkalo" class="col fa-solid fa-kalo fa-envelope pb-3 pt-0 ps-0 pe-0"></button>    
                                </div>
                            </div>
                        </div>
                    </div>
                    


                    
                </div>
            </div>
        </section>
    </section>
</section>
  <div id="snackbar">Skopiowano adres email do schowka!</div>
  <script>
    function kalofb() {
        window.open('https://www.facebook.com/kaloryfergorzow/')
    };

    function kaloig() {
        window.open("https://www.instagram.com/kaloryfer_wmn/")
    };

    function copyText() {
  
        /* Copy text into clipboard */
        navigator.clipboard.writeText
            ("kaloryferfromgorzow@gmail.com");
    }

    function myFunction() {
  const x = document.getElementById("snackbar");
  x.className = "show";
  setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
}overList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
</script>