<% layout('layouts/boilerplate')%>

<head>
    <link rel="stylesheet" href="/styles/przyjaciele.css">
</head>

<div class="animate from-up delay-0 category-info pb-0 mb-0" style="width: 100%;user-select: none;">
    <div class="image">
        <h1 class="naglowek display-4">Nasi Przyjaciele</h1>
        <h5 class="fajny-shadow mt-4">Kościoły i organizacje, z którymi
        się przyjaźnimy, bądź są bliskie naszemu sercu!</h5>
        <img src="/photos/wiecej/przyjaciele.jpg" class="top-strony"/>
    </div>
</div>
<div class="animate from-up card border-info px-3 mx-4 mt-3 mb-3">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 p-3">
            <div id="przy0" class="col animate glow delay-ms-25 containerr text-center przyjaciele">
            <img class="imagee" src="/photos/przyjaciele/0.png" alt="">
                <div class="middlee">
                    <div class="textt">
                        <h6>KBWCH Dom Boży</h6>
                        <p>Warszawa</p>
                    </div>
                </div>
            </div>
            <div id="przy1" class="col animate glow delay-ms-27 containerr text-center przyjaciele">
                <img class="imagee" src="/photos/przyjaciele/1.png" alt="">
                <div class="middlee">
                    <div class="textt">
                        <h6>KBWCH Jest Więcej</h6>
                        <p>Kalisz</p>
                    </div>
                </div>
            </div>
            <div id="przy2" class="col animate glow delay-ms-29 containerr text-center przyjaciele">
                <img class="imagee" src="/photos/przyjaciele/2.png" alt="">
                <div class="middlee">
                    <div class="textt">
                        <h6>Anastasis</h6>
                        <p>Legnica</p>
                    </div>
                </div>
            </div>
            <div id="przy3" class="col animate glow delay-ms-31 containerr text-center przyjaciele">
                <img class="imagee" src="/photos/przyjaciele/3.png" alt="">
                <div class="middlee">
                    <div class="textt">
                        <h6>International House Of Prayer (IHOP)</h6>
                        <p>Kansas City</p>
                    </div>
                </div>
            </div>
            
            <div id="przy4" class="col animate glow delay-ms-33 containerr text-center przyjaciele">
                <img class="imagee" src="/photos/przyjaciele/4.png" alt="">
                <div class="middlee">
                    <div class="textt">
                        <h6>Kościół Droga</h6>
                        <p>Warszawa</p>
                    </div>
                </div>
            </div>
            <div id="przy5" class="col animate glow delay-ms-35 containerr text-center przyjaciele">
                <img class="imagee" src="/photos/przyjaciele/5.png" alt="">
                <div class="middlee">
                    <div class="textt">
                        <h6>Wspólnota<br>
                        Życie i Misja</h6>
                        <p>Ustroń</p>
                    </div>
                </div>
            </div>
            <div id="przy6" class="col animate glow delay-ms-37 containerr text-center przyjaciele">
                <img class="imagee" src="/photos/przyjaciele/6.jpg" alt="">
                <div class="middlee">
                    <div class="textt">
                        <h6>KBWCH Betel</h6>
                        <p>Wrocław</p>
                    </div>
                </div>
            </div>
            <div id="przy7" class="col animate glow delay-ms-39 containerr text-center przyjaciele">
                <img class="imagee" src="/photos/przyjaciele/7.png" alt="">
                <div class="middlee">
                    <div class="textt">
                        <h6>KBWCH Nowa Studnia</h6>
                        <p>Wrocław</p>
                    </div>
                </div>
            </div>
            <div id="przy8" class="col animate glow delay-1-ms-1 containerr text-center przyjaciele">
                <img class="imagee" src="/photos/przyjaciele/8.png" alt="">
                <div class="middlee">
                    <div class="textt">
                        <h6>Kościół Boży W Chrystusie</h6>
                        <p>Polska</p>
                    </div>
                </div>
            </div>
    </div>
            
</div>    
<!-- 
0 Dom Boży Warszawa – http://www.warszawa.kbwch.pl/
1 KBwCh Kalisz – https://kbwch.kalisz.pl/ i https://jestwiecej.pl/
2 Anastasis Legnica – https://anastasis.org.pl/
3 IHOP Kansas City – https://www.ihopkc.org/
4 Kościół Droga Warszawa – https://droga.waw.pl/
5 Życie i Misja Ustroń – https://misja.org.pl/
6 Betel Wrocław – https://betel.house/
7 Nowa Studnia Wrocław – https://kosciol24.pl/
8 Kościół Boży w Chrystusie – http://kbwch.pl/
 -->
<script>
    document.getElementById("przy0").addEventListener("click", function() {
        window.open("http://www.warszawa.kbwch.pl/");
    });
    document.getElementById("przy1").addEventListener("click", function() {
        window.open("https://jestwiecej.pl/");
    });
    document.getElementById("przy2").addEventListener("click", function() {
        window.open("https://anastasis.org.pl/");
    });
    document.getElementById("przy3").addEventListener("click", function() {
        window.open("https://www.ihopkc.org/");
    });
    document.getElementById("przy4").addEventListener("click", function() {
        window.open("https://droga.waw.pl/");
    });
    document.getElementById("przy5").addEventListener("click", function() {
        window.open("https://misja.org.pl/");
    });
    document.getElementById("przy6").addEventListener("click", function() {
        window.open("https://betel.house/");
    });
    document.getElementById("przy7").addEventListener("click", function() {
        window.open("https://kosciol24.pl/");
    });
    document.getElementById("przy8").addEventListener("click", function() {
        window.open("http://kbwch.pl/");
    });
</script>

