  <img src="/photos/liderzy/dziuby.jpg" class="card-img-top przywodcy" alt="Renia i Robert Dziuba" />
  <div class="card-body">
    <h5 class="card-title">Renia i Robert Dziuba</h5>
    <!-- <p class="card-text">
      This is a wider card with supporting text below as a natural lead-in to
      additional content. This content is a little bit longer.
    </p> -->
  </div>
<!-- <div class="card-footer">
<small class="text-muted">Last updated 3 mins ago</small>
</div> -->
</div>