<p class="text-muted small">Słowa i muzyka: Joanna Kupczyńska</p>
<p>
Ojcze Twa chwała niech wypełni miejsce to<br>
Objaw przed nami swoją mądrość i moc<br>
Królu kłaniamy się przed Tobą wielbiąc Cię<br>
Twoje królestwo niech dosięgnie nas tu<br>
</p>
<p>
Uwielbiamy Cię/ 4
</p>
<p>
Wprowadź mnie tam gdzie zobaczę Ciebie twarzą w twarz<br>
Jednym spojrzeniem uzdrów oczy me<br>
Zajmij swe miejsce w moim sercu - świątyni Twej<br>
Oczyść mnie chcę świecić twoim blaskiem już dziś<br>
</p>
<p>
Uwielbiamy Cię/8
</p>
<p>
Pragnę zamieszkać w twoim domu po wszystkie dni<br>
By móc oglądać piękno Twe<br>
Poznawać miłość której głębi nie pojmie nikt<br>
Dlatego szukam Ciebie w noc i w dzień<br>
</p>
<p>
Uwielbiamy Cię
</p>