<p class="text-muted small">Słowa i muzyka: Joanna Kupczyńska</p>
<p>
Gdy nadszedł ten dzień, byli wszyscy razem<br>
Czekając tak, jak nakazał im Pan.<br>
Nagle z nieba szum, jakby gwałtownego wiatru<br>
Wypełnił ich dom, wiejąc prosto z Nieba<br>
</p>
<p>
I stanie się w ostateczne dni, mówi Pan,<br>
Że wyleję mego Ducha na wszelkie ciało<br>
I prorokować będą wasze córki i synowie<br>
Młodzi widzenia mieć będą<br>
A starcy wasi będą śnić
</p>
<p>
Oooo oooo jak wiatr wiejący z Nieba<br>
Niech wypełni nas Twój Duch<br>
Oooo oooo ochrzcij nas swym ogniem<br>
Gdy czekamy tu
</p>
<p>
Przyjdź Panie nasz przez otwarte bramy.<br>
Niech zerwie się wiatr i rozniesie Twój żar.<br>
Niech napełni się cała ziemia Twą chwałą.<br>
Zrzuć ogień swój,<br>
Niech Twój kościół płonie.
</p>
<p>
Obyś rozdarł niebiosa i zstąpił<br>
Oby przed Tobą zatrzęsły się góry<br>
Jak ogień zapala chrust<br>
Jak ogień zstąp tu.<br>
Niechaj będzie objawione Twoje Imię<br>
Tak, że narody będą drżeć przed Tobą<br>
Obyś zstąpił i zatrzęsły się góry przed Tobą
</p>