<p class="text-muted small">
    Oryginalny autor: Gary McDonald<br>
    Tłumaczenie: Łukasz Kupczyński
</p>

<p class="text-muted small">&#169; Copyright 2000 Integrity's Hosanna!! Music/ Sovereign Music UK</p>

<p>
    Już czas, by to, co złamał świat,<br>
    To, co umarło w nas, ożyło znów.<br>
    Już czas, by życie w groby tchnąć,<br>
    By w róg zwycięstwa dąć, by znowu żyć!<br>
</p>

<p>
    Słyszę już wołanie,<br>
    Słyszę z nieba deszczu dźwięk<br>
    Ponad górami i nad dolinami<br>
    Słyszę wołanie: Już czas!<br> 
</p>

<p>
    Już czas, by świat uwolnić z mar,<br>
    by w sercach płonął żar poświęcenia.<br>
    Już czas, czas, aby siebie dać<br>
    i życie kłaść dla pokolenia!<br>
</p>

<p>
    Już czas, czas dla złamanych serc,<br>
    By z nich wydobył się zew wolności!<br>
    Już czas, czas, aby poczuć znów,<br>
    Jak wieje Boży duch, niosąc pieśń radości!<br>
</p>