<p class="text-muted small">Słowa i muzyka: Joanna Kupczyńska</p>
<p>
Każdego dnia szukam Cię<br>
I czekam chwili by z Tobą być<br>
Twym Duchem napełniam się<br>
By być gotowym na wszystkie cuda twe<br>
</p>
<p>
Nie przez siłę i moc<br>
Lecz w Twoim Duchu wszystko możliwe jest<br>
Dzisiaj w słabości mej<br>
Twa moc objawi się<br>
</p>
<p>
Ref. Jestem świątynią!<br>
I Twoja chwała wypełnia mnie<br>
Jestem światynią!<br>
I żyję po to, by wielbić Cię!<br>
</p>
<p>
Chcę instrumentem Twym być<br>
I Twoim dłoniom poddawać się<br>
Cokolwiek czynię dziś<br>
Wszystko dla Ciebie, by chwałę przynieść Ci<br>
</p>
<p>
Ofiarę z życia chcę nieść<br>
Dzieląc się tym, co za darmo dałeś mi<br>
Ogłaszam dzieła Twe<br>
Twe światło we mnie jest<br>
</p>
<p>
Ref. Jestem świątynią! …
</p>
<p>
Odkrywam światło Twe<br>
Wysoko stawiam je
</p>