<p class="small text-muted">Słowa i muzyka: Jennie Lee Riddle</p>

<p class="small text-muted">&#169; Copyright 2004 Lennie Lee Riddle/ Gateway Create Publishing/Integrity's Praise! Music/ Sovereign Music UK</p>

<p>
Godzien jest ten<br>
Baranek zabity<br>
Święty Święty jest nasz Pan<br>
Temu który<br>
Siedzi na tronie<br>
Śpiewaj nową pieśń<br>
</p>
<p>
Święty Święty Święty<br>
Jest Pan Bóg Wszechmogący<br>
On był i jest i przyjdzie znów<br>
Z całym stworzeniem śpiewam<br>
Królowi Królów cześć<br>
Tyś wszystkim dla mnie jest<br>
I Ciebie uwielbiam<br>
</p>
<p>
Pełen piękna<br>
Odziany w tęczę<br>
Błyskawic blask i grzmotów huk<br>
Błogosławieństwo mądrość<br>
Wdzięczność i moc i chwałę<br>
On jeden godzien jest przyjąć<br>
</p>
<p>
Przed Twym imieniem<br>
Całe stworzenie<br>
Pada na kolana swe<br>
Twe Imię żywą wodą<br>
Oddechem mym i mocą<br>
Cudowną tajemnicą jest<br>
</p>