<p class="small text-muted">
    Słowa: Joanna Kupczyńska<br>
    Muzyka: Joanna i Łukasz Kupczyńscy
</p>
<p>
Dzisiaj tańczę przed Tobą<br>
A w moich dłoniach jest miecz<br>
Twoja chwała na mych ustach<br>
Mój duch gotowy jest<br>
</p>
<p>
W mocy Ducha ogłaszam<br>
Wielkie zwycięstwo Twe<br>
By wykonać Twój wyrok<br>
Wypędzić ciemność precz<br>
</p>
<p>
Nie zatrzyma już nic<br>
Tego co zacząłeś Ty<br>
Zdobędziemy ten kraj<br>
W radość zmienimy łzy<br>
Wielu powstanie by żyć<br>
Przed obliczem Panie Twym<br>
Pozna chwały twej blask<br>
/Bliski jest już ten czas/ x3<br>
</p>
<p>
Tarczę wiary wznosimy<br>
Trzymając w dłoniach miecz<br>
Ubrani w Twoją zbroję<br>
Czynimy dzieła Twe<br>
</p>
<p>
Twoje zmartwychwstanie<br>
Otworzyło nam drzwi<br>
Umocnieni w Twym Duchu<br>
Z wiarą idziemy dziś<br>
</p>