<p class="small text-muted">
    Słowa: Joanna Kupczyńska, Renata Dziuba<br>
    Muzyka: Joanna Kupczyńska, Robert Dziuba
</p>
<p>
Baranku Boży wywyższamy Cię<br>
Bo godzien jesteś by oddać Ci cześć<br>
Przed Twoim tronem kłaniamy się<br>
Baranku Boży chwalimy Cię<br>
</p>
<p>
Bo godzien jesteś aby wziąć cześć<br>
Godzien jesteś<br>
Bo godzien jesteś aby wziąć moc<br>
Godzien jesteś<br>
</p>
<p>
Błogosławieństwo, bogactwo i mądrość, chwałę
</p>