<p class="text-muted small">Słowa i muzyka: Joanna Kupczyńska</p>
<p>
Kiedy ciemność mnie otacza<br>
Serce trwoży się we mnie<br>
Ciebie wołam mocy moja<br>
Pośpiesz mi z pomocą<br>
</p>
<p>
Tobie ufali Ojcowie nasi<br>
Ciebie wołali i ratowałeś ich<br>
Boże Izraela jesteś mym Bogiem<br>
Moje wybawienie w Tobie<br>
</p>
<p>
Ty odpowiedziałeś mi<br>
Odpowiedziałeś mi Panie<br>
Ty odpowiedziałeś mi<br>
Odpowiedziałeś mi na me wołanie<br>
</p>
<p>
Panie Ty jesteś Święty<br>
Mieszkasz w chwałach Izraela<br>
Będę chwalić będę wielbić<br>
Imię Twe na wieki<br>
</p>
<p>
Objaw swoje silne ramię<br>
Tobie ufam mój Panie<br>
Boże Izraela jesteś mym Bogiem<br>
Moje wybawienie w Tobie<br>
</p>