<p class="text-muted small">Słowa i muzyka: Joanna Kupczyńska</p>
<p>
Stwórca Ziemi i milionów gwiazd<br>
Nieskończony w majestacie Pan<br>
Cały wszechświat głosi chwałę Twa<br>
Boże cudów przyjmij hołd<br>
</p>
<p>
Kim ja jestem, że zapraszasz mnie<br>
Bym zamieszkał w domu Twym<br>
Dajesz imię i dziedzictwo swe<br>
Rozkosz życia w obecności Twej<br>
</p>
<p>
Wołam: Ojcze, Ojcze<br>
Wracam dziś, przebacz mi<br>
W domu twym chce żyć
</p>
<p>
Wołam: Ojcze, Ojcze<br>
Jedno wiem w sercu mym<br>
Jestem synem Twym
</p>
<p>
Znasz mnie lepiej, niż ja Ciebie znam<br>
W Twych objęciach pokój mój<br>
Nie chcę więcej moich małych dróg<br>
Składam wszystko u Twych stóp
</p>