<p class="text-muted small">Słowa i muzyka: Joanna Kupczyńska</p>
<p>
Święty jest Pan /x4
</p>
<p>
Złóżmy mu pokłon <br>
W pięknie świętości<br>
Niech w naszej chwale <br>
Objawi się<br>
Ten który żyje <br>
Na wieki wieków<br>
Wierny, Prawdziwy <br>
Miłości Pan
</p>
<p>
Wielbię Cię, wielbię Cię<br>
Będę wielbić Cię
</p>