<p class="small text-muted">Słowa i muzyka: Łukasz Kupczyński</p>

<p>
Wznoszę swe ręce<br>
Ku świątyni Twej,<br>
Chcę zachwycić się pięknem<br>
Które w Tobie jest<br>
Zostawiam wszystko,<br>
By z Tobą być.<br>
Pragnę Cię, Panie<br>
Przychodzę, aby pić<br>
</p>
<p>
Przenikaj mnie…<br>
Niech Twa rzeka zaleje me wnętrze<br>
Chwytam Cię i<br>
Nie puszczę już więcej…
</p>
<p>
Wołasz me imię,<br>
Już dłużej nie mogę stać,<br>
Przenikasz miłością,<br>
Zabierasz wszelki strach<br>
Teraz Twoja prawda<br>
Wypala wnętrze me,<br>
Wiem, że to, co mówisz,<br>
Na pewno stanie się
</p>