    <!-- <footer class="bd-footer py-2 py-md-5">
      <div class="container py-2 py-md-5 px-4 px-md-3">
        <div class="row">
          <div class="col col-lg-3 mb-3">
            <a class="d-inline-flex align-items-center mb-2 link-light text-decoration-none" href="/kontakt" aria-label="gornaizba">
              <span class="fs-5 link-secondary text-light">Górna Izba</span>
            </a>
            <ul class="list-unstyled small text-light">
              <li class="mb-2">Zaprojektowane przez Dawida Dziubę
              </li>
              <li class="mb-2">Copyright &copy; 2023 Chrześcijańska Wspólnota Górna Izba</li>
            </ul>
          </div>
        </div>
      </div>
    </footer> -->


    <div class="container pb-5">
      <footer class="bg-naszeLogo row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5">
        <div class="col mb-3">
          <a href="/" class="d-flex align-items-center mb-3 link-light text-decoration-none fs-4">
            Chrześcijańska Wspólnota Górna Izba

          </a>
          <p class="text-light">© 2023</p>
        </div>
    
        <div class="col mb-3">
    
        </div>
    
        <div class="col mb-3">
          <h5 class="text-light mb-1">Odkryj</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-light">Home</a></li>
            <li class="nav-item mb-2"><a href="/o_nas" class="nav-link p-0 text-light">O nas</a></li>
            <li class="nav-item mb-2"><a href="/uwielbienie" class="nav-link p-0 text-light">Uwielbienie</a></li>
            <li class="nav-item mb-2"><a href="/kontakt" class="nav-link p-0 text-light">Kontakt</a></li>
            <li class="nav-item mb-2"><a href="/nasiprzyjaciele" class="nav-link p-0 text-light">Nasi Przyjaciele</a></li>
            <li class="nav-item mb-2"><a href="/wiecej" class="nav-link p-0 text-light">Więcej</a></li>
          </ul>
        </div>
    
        <div class="col mb-3">
          <h5 class="text-light mb-1">Spotkania</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="/#nabo" class="nav-link p-0 text-light">Nabożeństwa</a></li>
            <li class="nav-item mb-2"><a href="/kaloryfer" class="nav-link p-0 text-light">Kaloryfer</a></li>
            <li class="nav-item mb-2"><a href="/coffeehousegorzow" class="nav-link p-0 text-light">Coffee House</a></li>
          </ul>
        </div>
    
        <div class="col mb-3 text-light">
          <h5 class="text-light mb-1">Treści</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="/nauczanie" class="nav-link p-0 text-light">Nauczanie</a></li>
            <li class="nav-item mb-2"><a href="/artykuly" class="nav-link p-0 text-light">Artykuły</a></li>
            <li class="nav-item mb-2"><a href="/uwielbienie/piesni" class="nav-link p-0 text-light">Pieśni</a></li>
            <li class="nav-item mb-2"><a href="/nauczanie?wyszukaj=true" class="nav-link p-0 text-light">Wyszukaj (nauczania)</a></li>
            <li class="nav-item mb-2"><a href="/artykuly?wyszukaj=true" class="nav-link p-0 text-light">Wyszukaj (artykuły)</a></li>
            
          </ul>
        </div>
        <p class="text-light mt-3">Strona stworzona przez<br>
          Dawida Dziubę
        </p>
      </footer>
    </div>



    