<div class="card border-0">
      <!-- <h5 class="card-title">Special title treatment</h5> -->
      <div class="card-text">
        <p>
            Jako wspólnota ludzi kochających Boga, wierzymy, że uwielbienie jest niezwykle ważną częścią życia każdego z nas.
            Nie jest to dla nas tylko religijny rytuał czy występ, <span class="fw-bold">ale relacja z prawdziwym Bogiem.</span> 
            Wierzymy, że uwielbienie to styl życia - stałe usposobienie serca, 
            które wywyższa Boga i dostosowuje nasze życie pod Jego plan, który jest dobry i lepszy niż nasz własny.
        </p>
        <p>
            Uwielbienie jest naszą odpowiedzią na niewiarygodnie ogromną miłość i łaskę, 
            które Bóg ma do nas oraz na piękno Jego serca, które zostało objawione w Jezusie.
            To wyraz naszego głębokiego pragnienia poznania Go intymnie i stania się do Niego podobnym.
        </p>
        <p>
            W uwielbieniu doświadczamy niepojętej miłości Boga i Jego pięknej świętości. 
            To w Jego obecności znajdujemy uzdrowienie, odnowienie i przełamanie trudności w naszym życiu.
            Oddając Mu nasze życie w uwielbieniu, zapraszamy Ducha Świętego, aby przemieniał nas od środka na lepsze.
            Uwielbienie to również spotkanie z Bogiem - <span class="fw-bold">rozmowa, w której obie strony się liczą.</span>
            To czas, w którym przebywając w Jego pięknej obecności odkrywamy kim jesteśmy i co najważniejsze - kim On jest.
        </p>
        <p>
            Nasze uwielbienie nie jest ograniczone do konkretnego stylu czy formy. 
            Przyjmujemy różnorodne wyrazy, uznając, że każda osoba ma unikalny sposób oddawania czci Bogu. 
            Od współczesnej muzyki pełnej emocji po refleksyjne hymny, promujemy kulturę kreatywności i autentyczności w naszym uwielbieniu.
        </p>
        <p>   
            W naszym kościele wierzymy, że oddawanie chwały Bogu nie zaprzestaje jedynie na muzyce. 
            Chcemy, aby nasze życie świadczyło o Jego chwale, dążymy więc do życia pełnego uwielbienia, szukając obecności Boga i doświadczając Jego przemiany.
            Uznajemy również, że sztuka w swoich różnych formach może być potężnym i wspaniałym wyrazem oddania chwały naszemu Stwórcy.  
            Malowanie obrazów, taniec, wiersze i wszelkie inne artystyczne wyrazy są formami którymi oddajemy cześć i chwalimy Boga. 
            Nasza wspólnota zachęca i celebruje talenty i pasje jednostek, które wykorzystują swoje artystyczne dary, aby wyrazić swoją miłość do Boga.
        </p>
        <p>   
            Tak więc chcemy Cię zachęcić do dołączenia do wspólnej przygody z uwielbieniem. 
            Niezależnie od tego czy znasz każdą piosenkę uwielbieniową na pamięć czy może jeszcze nigdy nie miałeś/miałaś okazji uwielbiać,
            wierzymy, że zawsze dla każdego jest miejsce, aby też spotkać Boga w głęboki i życiowy sposób.
        </p>
        <p class="fw-bold">   
            Czy odkryjesz z nami piękno Boga?
        </p>
      </div>
  </div>

<!-- <p>&nbsp;</p>
<p style="text-align: right;"><strong>Bogdan Olechnowicz</strong></p>
<p>&nbsp;</p> -->


<!-- ORYGINAŁ:
Jako wspólnota ludzi kochających Boga wierzymy, że uwielbienie jest niezwykle istotną i przemieniającą częścią naszej duchowej podróży.  
Nie jest to dla nas tylko religijny rytuał czy występ, ale relacja z żywym Bogiem. 
W wierzymy, że uwielbienie to styl życia - stałe usposobienie serca, które uznaje godność Boga, wywyższa Jego imię i dostosowuje nasze życie do Jego celów.
Uwielbienie jest naszą odpowiedzią na niezmierzoną miłość i łaskę, które wylał na nas Bóg.
To wyraz naszego głębokiego pragnienia poznania Go intymnie i stania się do Niego podobnym. 
W uwielbieniu doświadczamy piękna świętości i niepojetej miłości Boga. 
To w Jego obecności znajdujemy uzdrowienie, odnowienie i przełamanie. 
Oddając Mu nasze życie w uwielbieniu, zapraszamy Ducha Świętego, aby przemieniał nas od wewnątrz, upodabniając nas do Chrystusa.
Nasze uwielbienie nie jest ograniczone do konkretnego stylu czy formy. 
Przyjmujemy różnorodne wyrazy, uznając, że każda osoba ma unikalny sposób oddawania czci Bogu. 
Od współczesnego uwielbienia po refleksyjne hymny, promujemy kulturę kreatywności i autentyczności w naszym uwielbieniu.
Zapraszamy Cię do dołączenia do naszej podróży uwielbienia, aby spotkać Boga w głęboki i życiowo sposób. 
Bez względu na to, czy jesteś nowym słuchaczem nauczania IHOP, czy już od jakiegoś czasu podążasz tą ścieżką,
znajdziesz miejsce w naszych spotkaniach uwielbienia. 
Przyjdź, pozwól nam wspólnie dążyć do stylu życia uwielbienia, szukając obecności Boga i doświadczając Jego przemieniającej mocy w naszym życiu.


W naszym kościele wierzymy, że oddawanie chwały Bogu wykracza poza muzykę. 
Uznajemy, że sztuka w swoich różnych formach może być potężnym i znaczącym wyrazem naszej oddania naszemu Stwórcy.  
Malowanie obrazów, taniec, wiersze i  wszelkie inne  artystyczne wyrazy są formami którymi oddajemy cześć i chwalimy Boga. 
Nasza wspólnota zachęca i celebruje talenty i pasje jednostek, które wykorzystują swoje artystyczne dary, aby wyrazić swoją miłość do Boga. 

Zapraszamy cię do  odkrywania razem z niami piękna Boga które zostało objawione w Jezusie 
i wspólnego uwielbiania.  -->