<head>
    <style>
        .padding{
            padding: 0.1em;
        }
    </style>
</head>
<div class="card border-0">
        <h4 class="text-center lead fs-4 mb-3">Kliknij tytuł, którego chcesz zobaczyć tekst i/lub akordy!</h4>
        <div class="card border-0">
            <div class="card-text">
                <div class="row nomargin">
                    <div class="col-12 col-md-6">
                        <h5>W noc i w dzień - MU 24/7</h3>
                        <div class="p-1">
                            <a class="link-hovereffect pointer link link-dark" data-bs-toggle="modal" data-bs-target="#one">
                                W noc i w dzień
                            </a><br>
                            <a class="link-hovereffect pointer link link-dark" data-bs-toggle="modal" data-bs-target="#two">
                                Jestem świątynią
                            </a><br>
                            <a class="link-hovereffect pointer link link-dark" data-bs-toggle="modal" data-bs-target="#three">
                                Pieśń Objawienia
                            </a><br>
                            <a class="link-hovereffect pointer link link-dark" data-bs-toggle="modal" data-bs-target="#four">
                                Dzisiaj tańczę przed Tobą
                            </a><br>
                            <a class="link-hovereffect pointer link link-dark" data-bs-toggle="modal" data-bs-target="#five">
                                Baranku Boży
                            </a><br>
                            <a class="link-hovereffect pointer link link-dark" data-bs-toggle="modal" data-bs-target="#six">
                                22122
                            </a><br>
                        </div>
                    </div>
                   
                    <div class="col-12 col-md-6">
                        <h5>Obyś rozdarł niebiosa i zstąpił - MU 24/7</h3>
                        <div class="p-1">
                            <a class="link-hovereffect pointer link link-dark" data-bs-toggle="modal" data-bs-target="#seven">
                                Stwórca Ziemi
                            </a><br>
                            <a class="link-hovereffect pointer link link-dark" data-bs-toggle="modal" data-bs-target="#eight">
                                Święty jest Pan
                            </a><br>
                            <a class="link-hovereffect pointer link link-dark" data-bs-toggle="modal" data-bs-target="#nine">
                                Wznoszę swe ręce
                            </a><br>
                            <a class="link-hovereffect pointer link link-dark" data-bs-toggle="modal" data-bs-target="#ten">
                                Gdy nadszedł ten dzień
                            </a><br>
                            <a class="link-hovereffect pointer link link-dark" data-bs-toggle="modal" data-bs-target="#eleven">
                                Już czas
                            </a><br>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <h5 class="mt-0 mt-md-3">Wejdź - Fisheclectic</h5>
                        <div class="p-1">
                            <a class="link-hovereffect pointer link link-dark" data-bs-toggle="modal" data-bs-target="#f1">
                                Popatrz na mnie
                            </a><br>
                            <a class="link-hovereffect pointer link link-dark" data-bs-toggle="modal" data-bs-target="#f2">
                                Dokąd iść
                            </a><br>
                            <a class="link-hovereffect pointer link link-dark" data-bs-toggle="modal" data-bs-target="#f3">
                                Minęła zima
                            </a><br>
                            <a class="link-hovereffect pointer link link-dark" data-bs-toggle="modal" data-bs-target="#f4">
                                Nocne spotkanie
                            </a><br>
                            <a class="link-hovereffect pointer link link-dark" data-bs-toggle="modal" data-bs-target="#f5">
                                Ogród
                            </a><br>
                            <a class="link-hovereffect pointer link link-dark" data-bs-toggle="modal" data-bs-target="#f6">
                                Góra Mirry
                            </a><br>
                            <a class="link-hovereffect pointer link link-dark" data-bs-toggle="modal" data-bs-target="#f7">
                                Już niedługo
                            </a><br>
                            <a class="link-hovereffect pointer link link-dark" data-bs-toggle="modal" data-bs-target="#f8">
                                Krok za krokiem
                            </a><br>
                            <a class="link-hovereffect pointer link link-dark" data-bs-toggle="modal" data-bs-target="#f9">
                                Ukochana
                            </a><br>
                            <a class="link-hovereffect pointer link link-dark" data-bs-toggle="modal" data-bs-target="#f10">
                                Pieczęć
                            </a><br>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <h5 class="mt-0 mt-md-3">Inne</h5>
                        <div class="p-1">
                            <a class="link-hovereffect pointer link link-dark" data-bs-toggle="modal" data-bs-target="#a">
                                Ucisz się
                            </a><br>
                            <a class="link-hovereffect pointer link link-dark" data-bs-toggle="modal" data-bs-target="#b">
                                Chcę widzieć Cię
                            </a>
                        </div>
                    </div>
                    
                </div>
            </div>
</div>


