<h1 class="ps-4 d-none d-md-block">Nasze płyty</h1>
<h3 class="pt-3 ps-0 ps-md-3 pb-1">MU 24/7</h3>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 nomargin g-4 ps-0 ps-md-3">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="/photos/uwie/plyty/1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Obyś rozdarł niebiosa i zstąpił (2008)</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <button style="height: 2.5em;" type="button" class="btn btn-secondary m-2" disabled>Niedostępne <i class="bi bi-x"></i></button>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="/photos/uwie/plyty/2.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">W noc i w dzień (2010)</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <button style="height: 2.5em;" type="button" class="btn btn-secondary m-2" disabled>Niedostępne <i class="bi bi-x"></i></button>
        </div>
    </div>
</div>
<h3 class="ps-0 ps-md-3 pt-5 pb-1">Fisheclectic</h3>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 nomargin g-4 ps-0 ps-md-3">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="/photos/uwie/plyty/3.png" class="card-img-top" alt="...">
            <div class="card-body pb-1">
                <h5 class="card-title">Wejdź (2012)</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <a style="height: 2.5em;" onclick="wejdz()" class="btn btn-success m-2">Kup</a>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="/photos/uwie/plyty/4.png" class="card-img-top" alt="...">
            <div class="card-body pb-1">
                <h5 class="card-title">Biorę Ciebie (2015)</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <a style="height: 2.5em;" onclick="bioreciebie()" class="btn btn-success m-2">Kup</a>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="/photos/uwie/plyty/5.jpg" class="card-img-top" alt="...">
            <div class="card-body pb-1">
                <h5 class="card-title">Jeszcze nie znikaj (2018)</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <a style="height: 2.5em;" onclick="jeszcze()" class="btn btn-success m-2">Kup</a>
        </div>
    </div>
</div>

<script>
    function wejdz(){
      window.open("https://fisheclectic.com/product/wejdz/")
    }
    function bioreciebie() {
      window.open("https://fisheclectic.com/product/biore-ciebie/")
    }
    function jeszcze(){
      window.open("https://fisheclectic.com/product/jeszcze-nie-znikaj/")
    }
</script>