<head>
    <style>
        .card-img-top{
            height:15em;
            object-fit: cover;
        }
    </style>
</head>
<h1 class="ps-5">Nasze zespoły</h1>
<div class="row nomargin row-cols-1 row-cols-md-2 delay-ms-25">
    <div class="col">
        <div class="card m-3">
            <img src="/photos/uwie/2.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">MU 24/7</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card m-3">
            <img src="/photos/uwie/3.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Kalomusic</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card m-3">
            <img src="/photos/uwie/5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Zespół Dziubów</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card m-3">
            <img src="/photos/uwie/4.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Zespół Damiana</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card m-3">
            <img src="/photos/uwie/1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Radek i Ewa</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card m-3">
            <img src="/photos/wiecej/fishe_inne.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Fisheclectic</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
</div>