<% layout('layouts/boilerplate') %> 








    <input class="form-control" type="text" placeholder="Wpisz nazwę nauczania lub konkretnego mówcę..." onkeyup="sendData(this)">
    <section id="searchResults">

    </section>

   

<script>
    const monthNames = ['stycznia', 'lutego', 'marca','kwietnia', 'maja', 'czerwca', 'lipca','sierpnia', 'września', 'października','listopada', 'grudnia']; 

    function sendData(e) {
        let match = e.value.match(/^[AaĄąBbCcĆćDdEeĘęFfGgHhIiJjKkLlŁłMmNnŃńOoÓóPpRrSsŚśTtUuWwYyZzŹźŻżáéíóúüñ¿¡!@#$%^&*()_+-=§£§ ]*/);
        let match2 = e.value.match(/\s*/);
        if(match2[0] === e.value){
            searchResults.innerHTML= ''
            return;
        }
        if (match[0] === e.value){
            fetch('search', {
            method: 'POST',
            headers: {'Content-Type' : 'application/json'},
            body: JSON.stringify({payload:e.value})
        }).then(res => res.json()).then(data => {
            let payload = data.payload;
            searchResults.innerHTML = '';
            if(payload.length < 1){
                searchResults.innerHTML = '<p>Sorry. Nothing Found.</p>';
                return;
            }
            payload.sort((a, b) => new Date(b.data) - new Date(a.data));
            payload.forEach((item, index) => {
                if(index > 0) searchResults.innerHTML += '<hr>';
                const nowaData = new Date(item.data);
                //function addZero(i) {if (i < 10) {i = "0" + i}return i;}let h = addZero(nowaData.getHours());let m = addZero(nowaData.getMinutes());let time = h + ":" + m;
                const data = `${nowaData.getDate()} ${monthNames[nowaData.getMonth()]} ${nowaData.getFullYear()}`
                searchResults.innerHTML += `<p>${item.tytul} - ${item.mowca} (${data})</p>`;
                
            });  
        });
        return;
        }
        searchResults.innerHTML = '';
    }
</script>

