<p class="text-muted small">Słowa i muzyka: Joanna Kupczyńska</p>
<p>
Chciałabym spotkać Cię jeszcze dziś,<br>
Zanim sen zabierze mnie<br>
Jesteś tu, lecz mijam Cię kolejny raz<br>
Słyszę Twój cichy głos
</p>
<p>
Usiądź przy mnie, nie musisz biec<br>
Zostaw na chwilę swój ważny plan<br>
Zatrzymaj się, popatrz na mnie<br>
Ta chwila drugi raz nie zdarzy się
</p>
<p>
Wprowadź mnie do odpocznienia swego<br>
Wprowadź mnie do miejsca najświętszego<br>
Wprowadź mnie do swoich komnat, o Królu
</p>
<p>
Wiem już, jak łatwo jest stracić tę<br>
Najcenniejszą w życiu rzecz<br>
Tyle spraw jak popiół, który rozniesie wiatr<br>
Tylko Ty zostaniesz mi
</p>
<p>
Pocałuj mnie swoim słowem<br>
Twa miłość lepsza niż wino jest<br>
Pociągnij mnie tam, dokąd chcesz<br>
Właśnie teraz Tobą chcę cieszyć się
</p>
<p>
Wprowadź mnie do odpocznienia swego<br>
Wprowadź mnie do miejsca najświętszego<br>
Wprowadź mnie do swoich komnat, o Królu
</p>