<p class="text-muted small">Słowa i muzyka: Joanna Kupczyńska</p>
<p class="text-muted small bold"><small>Pieśń nad Pieśniami 8:6</small></p>

<p class="text-muted bold"><small>Ona:</small></p>
<p>
Połóż mnie jak pieczęć na mym sercu<br>
Ognia żar niech duszę mą rozpali<br>
Połóż mnie jak pieczęć na mym sercu<br>
Ognia żar niech duszę ma rozpali
</p>
<p>
Miłość Twa mocna jest<br>
Tak jak śmierć, Twoja śmierć<br>
Miłość Twa mocna jest<br>
Tak jak śmierć, Twoja śmierć
</p>
<p>
Nie ugaszą jej największe wody<br>
Nic nie może zmienić Twej miłości<br>
</p>
<p class="text-muted bold"><small>On:</small></p>
<p>
Połóż mnie jak pieczęć na twym sercu<br>
Ognia żar niech duszę Twą rozpali<br>
Połóż mnie jak pieczęć na Twym sercu<br>
Ognia żar niech duszę
</p>
<p>
Miłość ma mocna jest<br>
Tak jak śmierć, moja śmierć<br>
Miłość ma mocna jest<br>
Tak jak śmierć, moja śmierć
</p>
<p>
Nie ugaszą jej największe wody<br>
Nic nie może zmienić mej miłości
</p>