<p class="text-muted small">Słowa i muzyka: Joanna Kupczyńska</p>
<p>
Jestem śniada,<br>
słońce świata opaliło mnie<br>
Tak spragniona Twojej wody w cieniu twym odpocznę<br>
Szukam ciebie na pustyni,<br>
Szukam cię na górze twej<br>
przyjdź pociągnij mnie za sobą do twych miejsc<br>
Powiedz mi ty którego kocha dusza moja<br>
Dokąd iść aby spotkać ciebie na twych drogach<br>
Powiedz mi ty którego kocha dusza moja<br>
Gdzie jest miejsce wyznaczone na spotkanie dla nas
</p>
<p>
Późną nocą będę słuchać<br>
Czy zapukasz do mych drzwi<br>
Z drżeniem w sercu tam podejdę by otworzyć ci<br>
Wyjdę i obiegnę miasto<br>
będę szukać cię<br>
nie zatrzyma mnie<br>
strażników ciemna dłoń
</p>