<p class="text-muted small">Słowa i muzyka: Joanna Kupczyńska</p>
<p class="text-muted small bold"><small>Pieśń nad Pieśniami 2:8-13</small></p>
<p>
Szukałam Cię wciąż<br>
Pytałam gdzie jesteś<br>
Nawet we śnie czuwało me serce<br>
Chciałam byś był tam, gdzie ja jestem<br>
Stanęłam u drzwi, lecz Ty już odszedłeś
</p>
<p>
Słuchaj, to mój miły<br>
Oto idzie On<br>
Wspina się po górach<br>
Oto idzie On<br>
Stoi już za ścianą<br>
Patrzy przez me okno<br>
Zagląda przez me kraty<br>
Mój miły mówi do mnie
</p>
<p>
Wstań, moja przyjaciółko<br>
Wstań, moja piękna, chodź<br>
Wstań, ukaż swe oblicze<br>
Daj mi usłyszeć swój głos
</p>
<p>
Wstań, moja przyjaciółko<br>
Wstań, podaj mi swą dłoń<br>
Wstań, możesz wyjść z ukrycia<br>
Wstań, moja piękna, chodź
</p>
<p>
Ooo...
</p>
<p>
Odnalazłam Cię na górach wonnych ziół<br>
Uchwyciłam Cię, nie wypuszczę już<br>
Odnalazłam Cię na górze Twoich słów<br>
Uchwyciłam Cię, nie wypuszczę już
</p>
<p>
Biegnę za Tobą<br>
Biegnę za Tobą
</p>


<br>
