<p class="text-muted small">Słowa i muzyka: Joanna Kupczyńska</p>
<p>
Zostań ze mną dziś w nocy<br>
Czuwaj przy mnie w tej godzinie<br>
Zostań ze mną dziś w nocy<br>
Swe ospałe oczy otwórz, popatrz
</p>
<p>
Nasze spotkanie tak ważne jest<br>
Serc przenikanie<br>
Życie oddanie, otarcie łez<br>
Rozmiłowanie
</p>