<p class="text-muted small">Słowa i muzyka: Joanna Kupczyńska</p>
<p>
Ogrodem Twym jestem, dziełem Twym<br>
Zamkniętym dla innych miłości mych<br>
Wyciągnij swą rękę , zerwij owoc swój<br>
Wejdź do własności swojej, ja czekam tu
</p>
<p>
Powstań wietrze z północy,<br>
zerwij się wietrze z południa<br>
Przewiej mój ogród niech rozpłynie się jego woń<br>
Niech wejdzie do mnie mój miły
</p>
<p>
Wejdź do mego ogrodu i bądź ze mną tu<br>
Ja należę do Ciebie a Ty jesteś mój<br>
Wejdź do mego ogrodu i zachwyć mnie sobą<br>
Weź mą duszę i serce<br>
Ten ogród jest Twój
</p>