<p class="text-muted small">Słowa i muzyka: Joanna Kupczyńska</p>
<p>
Moje serce wezbrało<br>
Twoją pieśnią pragnę być<br>
Ja należę do ciebie<br>
I tylko moim jesteś Ty<br>
Wszystko w Tobie piękne<br>
Piękna jest miłość Twa<br>
Nie ma miłości większej<br>
Niż aby życie swoje dać
</p>
<p>
Zanim chłód wieczorny powieje<br>
I pierzchną wszystkie cienie<br>
Pójdę tam wysoko na górę<br>
Mirry oooo
</p>
<p>
Cała jesteś piękna<br>
Nie ma w tobie żadnych wad<br>
Oczarowałaś mnie<br>
Jednym spojrzeniem oczu swych<br>
Piękna jest twoja miłość siostro Oblubienico<br>
Lepsza jest twoja miłość niż najlepsze wino
</p>
<p>
Zanim chłód wieczorny powieje<br>
I pierzchną wszystkie cienie<br>
Pójdę tam wysoko na górę<br>
Mirry
</p>
<p>
Zanim chłód wieczorny powieje<br>
I pierzchną wszystkie cienie<br>
Pójdę tam dla ciebie na górę mirry<br>
</p>
<p>
Pójdę tam, gdzie<br>
Ty<br>
Pójdę tam, gdzie<br>
Ty 