<p class="text-muted small">Słowa i muzyka: Joanna Kupczyńska</p>
<p>
Dusza ma oczekuje Ciebie<br>
Tak jak stróż czeka na poranek<br>
Oczy me wypatrują ciebie<br>
Głębia ma wzywa Twoja głębie
</p>
<p>
Już niedługo<br>
Niedaleko<br>
Twój nadciąga deszcz<br>
i niebo zbliża się
</p>
<p>
/Przyjdź objaw swą chwałę<br>
Przyjdź, objaw oblicze swe /x2
</p>
<p>
Dusza ma nasłuchuje Ciebie<br>
Szeptów Twych,<br>
Które mnie prowadzą<br>
Poznać chcę Twoje tajemnice<br>
Słyszeć Cię pośród nocnej ciszy
</p>
<p>
Każdej nocy i każdego dnia<br>
Czekam na Ciebie<br>
A Ty objawiasz się
</p>
<p>
/Przyjdź objaw swą chwałę<br>
Przyjdź, objaw oblicze swe /x2