<p class="text-muted small">Słowa i muzyka: Joanna Kupczyńska</p>
<p>
    Przez Twe ciało, przez zasłonę<br>
    Wchodzę śmiało do świątyni<br>
    Idę naprzód żywą drogą<br>
    Czysta tylko przez krew Twoją
</p>
<p>    
    Krok za krokiem, coraz bliżej<br>
    W blasku oczy swe zakrywam<br>
    Zginam się i padam nisko na kolana<br>
    Jak mam przeżyć to spotkanie<br>
    Dotknij ogniem ust mych, Panie<br>
    Czy me oczy mogą ujrzeć Króla chwały
</p>
<p>   
    Przez Twe ciało, przez zasłonę<br>
    Wpół rozdartą dziś przechodzę<br>
    Ogień płonie na ołtarzu<br>
    Z wiarą w sercu idę dalej
</p>
<p>    
    Krok za krokiem, coraz bliżej<br>
    W blasku oczy swe zakrywam<br>
    Zginam się i padam nisko na kolana<br>
    Jak mam przeżyć to spotkanie<br>
    Dotknij ogniem ust mych, Panie<br>
    Czy me oczy mogą ujrzeć Króla chwały
</p>
<p>    
    Słychać głos jakby wielu wód<br>
    Głośny stworzeń dźwięk, które wielbią Cię<br>
    Święty zgiełk i aniołów śpiew,<br>
    i odwieczna pieśń niekończąca się<br>
    Święty jest Wszechmogący Bóg,<br>
    który był i jest, który przyjdzie znów
</p>