<p class="text-muted small">Słowa i muzyka: Łukasz Kupczyński</p>
<p>
Ukochana, chodź odpocznij już<br>
Swym szukaniem<br>
Ciało zmęczone złóż.
</p>
<p>
Ukochana, już nie musisz biec<br>
Ciemna duszy noc zakończona jest
</p>
<p>
Widziałem ciebie<br>
Przy tobie byłem gdy<br>
Oddałaś wszystko<br>
By być w ramionach mych
</p>
<p>
Oczarowałaś mnie<br>
Moja waleczna<br>
Otwórz swe dłonie<br>
Już jesteś bezpieczna
</p>
<p>
Oprzyj się na mnie<br>
Wracajmy....
</p>