<p class="text-muted small">Słowa i muzyka: Joanna Kupczyńska</p>
<p>
Jak wzburzone morze<br>
Myśli w mojej głowie<br>
Nie wiem, jak mam stać wśród tych fal<br>
Widzę Cię przez mgłę<br>
Stoisz tak spokojnie<br>
Wołam Cię: Nie pozwól mi spaść!
</p>
<p>
Ucisz mnie<br>
Powiedz coś<br>
Jednym słowem swym masz moc<br>
Zakończyć sztorm<br>
Uchwyć mnie<br>
Ukryj w myśli swej<br>
Zniwecz każdą ciemną myśl<br>
Światłem swym
</p><p>
Patrze w Twoje oczy<br>
Groźne i łagodne<br>
Nic nie może przerazić Cię<br>
Idę w Twoją stronę<br>
A Ty idziesz do mnie<br>
Wznosisz dłoń i uśmiechasz się
</p><p>
Ucisz się<br>
Ja jestem<br>
W zaufaniu Twym jest moc, w ciszy twej<br>
Nie bój się<br>
Przecież jesteś mój<br>
Możesz ufać mi i iść<br>
Mimo burz
</p><p>
Ucisz się<br>
Ja jestem<br>
W zaufaniu Twym jest moc, w ciszy twej<br>
Nie bój się<br>
Mam cię w rękach swych<br>
Możesz ufać mi i iść<br>
Będę tu
</p><p>
Wokół wielka cisza<br>
Gdzie są przeciwnicy<br>
Ustąpiły burze i wiatr<br>
Tu na szklanym morzu<br>
W tęczy Twojej chwały<br>
Stoję i nie muszę się bać
</p>