<p class="text-muted small">Słowa i muzyka: Joanna Kupczyńska</p>
<p>
Jeśli chcę tego czego nie chcesz Ty<br>
Zatrzymaj mnie i powiedz mi czego pragniesz<br>
Jeśli idę tam gdzie nie idziesz Ty<br>
Zatrzymaj mnie nie pozwól dalej iść
</p><p>
Ref. Bo chcę widzieć Cię w życiu mym<br>
Wywyższonego<br>
Chcę widzieć Cię w życiu mym
</p><p>
Cokolwiek czynię dla swojej własnej chwały<br>
Zatrzymaj mnie i zbadaj moje serce<br>
Gdy oceniam innych bez miłości<br>
Zatrzymaj mnie I zniszcz moją pychę
</p><p>
Gdy boję się o to co pomyślą inni<br>
Zatrzymaj mnie - ważne jest co myślisz Ty<br>
Gdy troszczę się tylko o to co jest moje<br>
Zatrzymaj mnie i skrusz moje serce
</p><p>
Bo tylko Twoja jest Chwała<br> 
Twoja jest Chwała<br>
I tylko Tobie się kłaniam<br> 
Tobie się kłaniam
</p>