<div class="modal fade" id="a" tabindex="-1" aria-labelledby="aLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="aLabel">Ucisz się - Fisheclectic</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <%- include('./1') %>
        </div>
        <div class="modal-footer">
        <h5 class="text-start">Pobierz wersję z akordami!</h5>
        <div>
        <a type="button" target="_blank" class="btn btn-success" href="/photos/uwie/p/Fisheclectic_Ucisz_sie_akordy.png" download>Pobierz PNG</a>
        <a type="button" target="_blank" class="btn btn-danger" href="/photos/uwie/p/Fisheclectic_Ucisz_sie_akordy.pdf" download>Pobierz PDF</a>
        </div>
    </div>
    </div>
    </div>
</div>
<div class="modal fade" id="b" tabindex="-1" aria-labelledby="bLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="bLabel">Chcę widzieć Cię - Fisheclectic</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <%- include('./2') %>
            </div>
            <div class="modal-footer">
                <h5 class="text-start">Pobierz tekst!</h5>
                <div>
                    <a type="button" target="_blank" class="btn btn-success" href="/photos/uwie/p/Chce_widziec_Cie.png" download>Pobierz PNG</a>
                    <a type="button" target="_blank" class="btn btn-danger" href="/photos/uwie/p/Chce_widziec_Cie.pdf" download>Pobierz PDF</a>
                </div>
            </div>
        </div>
    </div>
</div>