<% layout('layouts/boilerplate')%>
<div class="animate from-up delay-0 category-info" style="width: 100%;user-select: none;">
    <div class="image">
        <h1 class="naglowek display-4">O NAS</h1>
        <img src="/photos/headery/onas.jpg" class="top-strony"/>
    </div>
</div>

<div class="m-5">
    <div class="card p-4 m-4">
    
        <div class="">
         <h4 class="m-0">Nasza historia (napisane przez Bogdana Olechnowicza w 2013 roku)</h4>
         
        </div>
        <div class="card-body" id="kim_jestesmy">
            <p>
                Opisywana historia wspólnoty będzie miała silną rysę jej autora, w tym przypadku mnie, jako pastora. 
                Opiszę te wydarzenia, które z mojego punktu widzenia były ważne i w jakimś stopniu ukształtowały naszą wspólnotową tożsamość. 
                Mam świadomość, że perspektywa ta będzie zawężona i, co tu dużo mówić bardzo osobista. 
                Ufam tylko, że chociaż członkowie naszej społeczności odnajdą siebie w tym obrazie, choć może nie w bezpośredni sposób.
            </p>
            <p>
                Z trudnych do zdefiniowania powodów, nigdy nie uważałem siebie, ani naszej wspólnoty za twór całkowicie „normalny”. 
                Normalny w znaczeniu typowy, łatwy do opisania, ze sztywnie zdefiniowaną strukturą, czy bardzo wyraźnymi zasadami funkcjonowania. 
                Nigdy też siebie, przykładając surową miarę i typowy wzorzec pastora, jeśli takowy istnieje, nie uważałem za typowego pastora. 
                Może też z tego powodu nie przepadałem, i tak mi zostało do dnia dzisiejszego, jak ludzie zwracali się do mnie pastorze. 
                Taka nomenklatura, chociaż poprawna z formalnego punktu widzenia, 
                dziwnie mnie krępowała i najnormalniej w świecie do mnie nie pasowała.
            </p>
            <p>
                Pisząc to, nie mam jednak żadnej wątpliwości, że Bóg mnie do tej roli powołał, a stało się to w 1992 roku. 
                Kończąc swoje studia w Warszawie otrzymałem propozycję objęcia funkcji pastora właśnie w Gorzowie. 
                Sam będąc z Przemyśla, mając żonę ze Szczecina, nigdy nie przypuszczałem, że w końcu „wyląduję” w mieście, 
                które było mi zupełnie obce i o istnieniu, którego wiedziałem tylko z lekcji geografii i rzadkich wzmianek medialnych. 
                Jednak bardzo szybko, dla mnie w sposób najbardziej klarowny z możliwych wiedziałem, że to jest miejsce, do którego Bóg nas kieruje. 
                Swoją służbę rozpocząłem jesienią 1992 roku, krótko po tym, 
                jak razem z moją żoną Bożeną przeprowadziliśmy się do Gorzowa Wielkopolskiego. 
                Ponieważ była to moja pierwsza samodzielna służba, nie miałem też za dużo doświadczenia w pracy z ludźmi, 
                ale byłem pewny tego, że kocham Boga i chcę Mu służyć. 
                Początki mojej pracy z ludźmi patrząc na to z perspektywy wielu już lat nie były ani łatwe, ani jakoś specjalnie trudne.
            </p>
            <p>
                Kluczowym momentem pierwszych lat służby był jednak rok 1995. Doświadczyliśmy w tym czasie jako wspólnota czegoś, 
                co nie mogę nazwać inaczej, jak tylko Bożym nawiedzeniem. Dramatyczne spotkanie z Bogiem, które stało się moim udziałem, 
                pod wieloma względami okazało się kluczowe dla wydarzeń, które miały miejsce w następnych latach. 
                To właśnie w trakcie tych dni w kwietniu i maju 1995 roku, Bóg w swojej łasce dał mi zobaczyć to, co chce uczynić w naszym narodzie. 
                Nie potrafiłem i do dzisiaj nie potrafię opisać tej rzeczywistości, która wtedy stała się moim udziałem. 
                Wielkość tego doświadczenia przerastała moje zdolności do ich opisania, chociaż miałem głębokie poczucie wagi tego, 
                co dzieje się w nas i z nami. Te dni chwały, które dane mi było z łaski Bożej zobaczyć, były w moim wnętrzu na tyle żywe, 
                że wiedziałem, że żyję po to, by je oglądać i w nich uczestniczyć. Wszystko inne straciło swój blask i powab. 
                Zrozumiałem już wtedy, że ta niezwykła rzeczywistość, która zagościła w moim sercu warta była zapłacenia każdej ceny, 
                by tylko móc jej doświadczyć. To czego wtedy nie rozumiałem, to fakt, że potrzebujemy ogromnej zmiany, 
                by Bóg mógł zrealizować swoje zamierzenia  względem nas i przez nas. Mówiąc o nas, nie mam tutaj na myśli tylko naszej wspólnoty, 
                bo w tę niezwykłą podróż Bóg zaprosił znacznie więcej osób. Część z tych osób znamy i mamy z nimi kontakt, 
                ale z całą pewnością jest jeszcze niemałe grono osób w tym narodzie, które odpowiedziały na Boże wezwanie i współpracują z Nim, 
                by Jego wola dla naszego narodu i dla tego pokolenia mogła się urzeczywistnić.
            </p>
            <p>
                To jednak z czego nie zdawałem sobie sprawy, to to, że ten zasadniczy proces przemiany, 
                który musiał się w nas dokonać będzie tak bardzo bolesny. Ten trudny okres dla naszej wspólnoty przypada na lata 2001-2003. 
                Pamiętam takie szczególne nabożeństwo pod koniec roku 2000, w trakcie, którego usłyszałem w sobie krystalicznie czysty Boży głos, 
                który powiedział: „nadchodzą wielkie zmiany, przygotuj ludzi na nie”. O zmianach wiedziałem tylko tyle, że są bolesne i rodzą konflikt. 
                Ale chyba nikt z nas nie wiedział, co Bóg miał na myśli mówiąc o bólu i konflikcie, który był przed nami.
            </p>
            <p>
                W tym kontekście kluczowe było też proroctwo, które przekazała nam Liliana Cydejko, osoba z naszej wspólnoty, 
                której służba prorocza była rozpoznana i jak najbardziej wiarygodna. Kilka tygodni, po tym jak ja usłyszałem Boga, 
                który powiedział mi na temat wielkich zmian, Liliana przekazała wspólnocie, 
                wtedy jeszcze noszącej nazwę Hosanna (w 1996 roku nastąpiło połączenie dwóch wspólnot z naszego miasta - wspólnoty Betezda, 
                której byłem pastorem i wspólnoty Hosanna) bardzo zaskakujące słowo. Najpierw tym słowem podzieliła się ze mną przez telefon, 
                a później przekazała je całej społeczności. W doświadczeniu proroczym Bóg zaprowadził Lilianę na cmentarz i pokazał jej wielki rodzinny grób, 
                w którym było zupełnie ciemno. Zobaczyła dużą tablicę z napisem: „Tu spoczywają doczesne szczątki zboru Hosanna” i zaraz potem usłyszała Boży głos, który powiedział: „Zaczyna się proces umierania tego zboru. I po śmierci, przyjdzie Boże światło i Jego życie, razem z mocą zmartwychwstania. I kiedy to życie i światło powrócą z mocą zmartwychwstania, to nic już nie będzie tego w stanie zgasić.” Kiedy Liliana to słowo przekazywała  naszej wspólnocie, wiedziała, że jako proroczy znak ma też kupić znicz w kształcie Kościoła i w trakcie przekazywania tych słów, miała zapalić w środku tego znicza lampkę na znak tego, że po śmierci i ciemności, przyjdzie światło i życie. Na koniec  przekazała też bardzo jak się później okazało bardzo ważne przesłanie. Dotyczyło postawy miłości, do której Bóg nas zachęcał w kontekście życia wspólnotowego. Ostatnie zdanie brzmiało: „Teraz jest czas, żeby kochać. Śpieszcie się kochać ludzi, bo gdy będziecie stać nad grobem swojego przyjaciela na miłość będzie już za późno”. 
                Pamiętam, że zadałem Lilianie później pytanie, czy to oznacza, że ktoś z naszej wspólnoty umrze. Odpowiedź brzmiała: „nie wiem”.
            </p>
            <p>
                I faktycznie po tym proroctwie zaczęliśmy wchodzić w „fazę umierania”. 
                Kilka miesięcy później było to już na tyle oczywiste, że nie mogliśmy mieć wątpliwości, że to Bóg. 
                Przez 6 tygodni, głosiłem w naszej wspólnocie słowo w oparciu o jeden tekst z 2 listu Ap.Pawła do Koryntian 1,9: 
                „Doprawdy, byliśmy już całkowicie pewni tego, że śmierć nasza jest postanowiona, abyśmy nie na sobie samych polegali, 
                ale na Bogu, który wzbudza umarłych”. Pamiętam, że mówiłem, iż Bóg nas wprowadzi w podobne doświadczenie, 
                w tym właśnie celu, żebyśmy nauczyli się polegać tylko na Nim i żebyśmy doświadczyli mocy zmartwychwstania.
            </p>
            <p>
                W czerwcu 2001 roku dowiedzieliśmy się o śmiertelnej chorobie naszego drogiego przyjaciela Sebastiana, 
                który w tamtym czasie służył w grupie uwielbienia. Informacja ta spadła na nas niespodziewanie, 
                nogi się pode mną ugięły i pamiętam, iż w zupełnej bezradności i poczuciu zagubienia westchnąłem do Boga, że to niemożliwe. 
                Chwilę potem stanąłem z moimi przyjaciółmi przed Bogiem w modlitwie i czułem jak Bóg daje mi i nam łaskę, byśmy się z tym zmierzyli. 
                Następne pół roku, były pod wieloma względami najtrudniejsze w naszej historii, ale również najbardziej niesamowite. 
                Wiedziałem, że gdybyśmy mieli odpowiednie narzędzia i ludzi, którzy potrafili by oddać atmosferę tamtych dni, 
                to powstałby niezwykle wzruszający i pouczający film o miłości, lojalności, zdolności do składania ofiar, poświęceniu i przyjaźni. 
                Byłem nieprawdopodobnie dumny z wielu ludzi w naszej wspólnocie i postaw, które prezentowali.  Osoby spoza naszej społeczności, 
                który miały wejrzenie w to, co się w nas i z nami wówczas działo, składały jednoznaczne świadectwo, 
                że nigdy niczego podobnego nie widziały.
            </p>
            <p>
                Tak do prawda! Ani na moment nie straciłem poczucia jak ważne były to dni i 
                jak wiele się w ich czasie nauczyliśmy, i jak bardzo nas Bóg w tym czasie kształtował. 
                Oczywiście najboleśniejsza dla wielu była jednak śmierć Sebastiana, pomimo tak wielu modlitw i wiary, która została zainwestowana. 
                Każdy tę śmierć przeżywał inaczej. Osobiście wszystkie moje dylematy znalazły swoje rozwiązanie w noc poprzedzającą pogrzeb Sebastiana. 
                Przeżyłem, coś, co nazwałbym nocną sesją terapeutyczną z Panem Bogiem, kiedy to, i wiem, 
                że zabrzmi to mało prawdopodobnie, uzyskałem odpowiedź na każde moje pytanie. 
                Od tamtego momentu minęło już 12 lat i żadna z tych rzeczy, które wtedy odebrałem od Pana nie straciła na swojej ważności i znaczeniu. 
                Zrozumiałem wtedy, dlaczego musieliśmy przez to przejść, co działo się w sferze proroczej w trakcie tych sześciu miesięcy, 
                jaki był związek pomiędzy chorobą Sebastiana i modlitwą o nasze miasto i kraj.
            </p>
            <p>
                Z całą pewnością kiedyś opiszę te wydarzenia o wiele dokładniej, bo lekcji i prawd, które z nich wynikają jest całe mnóstwo. 
                Śmierć Sebastiana była katalizatorem naszego umierania, o którym wcześniej prorokowała Liliana. 
                Dla wielu osób był to czas duchowego zamieszania i wielkiego bólu. 
                Niecały rok później przeżywaliśmy też bolesne rozstanie z Kościołem zielonoświątkowym. 
                Nasze wyjście, i chcę podkreślić to  z całą mocą, nie z naszej własnej woli, ze struktur KZ, też do tego bólu się przyczyniło. 
                Z drugiej jednak strony wiedzieliśmy, że takie jest też Boże prowadzenie dla nas i nie mieliśmy i do dzisiaj nie mamy do nikogo żadnego żalu. 
                Kochamy Kościół Zielonoświątkowy i z wieloma osobami dalej utrzymujemy kontakt. 
                Dla nas osobiście oznaczało to zmianę prawie wszystkiego.
            </p>
            <p>
                Zmiana miejsca zamieszkania, opuszczenie dwóch budynków, 
                z których jako wspólnota korzystaliśmy i zaczynanie w pewnym sensie wszystkiego od nowa. 
                Jedyna materialna rzecz jaką wzieliśmy ze sobą, to były nauczania, które stanowiły integralną częścią naszej historii z Bogiem. 
                Dla mnie rok 2003 był kulminacją owego „umierania”. 
                Po tych wszystkich zmaganiach, kiedy „kurz już opadł” zdałem sobie sprawę jak trudne i bolesne były to dni. 
                Mówiłem później Panu Bogu, że gdyby mi w roku 1995 dał chociaż przez moment odczuć z jakim bólem będę się musiał zmierzyć, 
                to na Jego zaproszenie do współpracy świadomie bym Mu powiedział, że nie chcę. 
                Ale wiem, że była to część Bożej strategii wobec nas i w pewnym sensie nie było dla nas innej drogi. 
                Latem 2003 roku poprosiłem moją wspólnotę o 3 miesięczny urlop, by uporać się  ze zranieniem i bólem, 
                który mi towarzyszył. A ponieważ mamy niezwykłych ludzi w naszej społeczności, to nie było z tym żadnego problemu. 
                Wszyscy z błogosławiącym i wspierającym sercem pozwolili mi na ten odpoczynek.
            </p>
            <p>
                To był ważny test dla nas wszystkich, bo oto nagle ludzie musieli się zmierzyć ze słabością swojego przywódcy i jego duchowym, 
                i psychicznym wyczerpaniem. Czułem się tak słaby i niezdolny do dalszego służenia innym, że wiedziałem, 
                że tylko Bóg i Jego łaska może mnie z tego miejsca podnieść. Ludzie musieli to miejsce słabości we mnie zobaczyć, 
                żeby w przyszłości, kiedy zobaczą Boga działającego przez mnie, wiedzieli, że moja siła, moc i namaszczenie jest z Niego, a nie ze mnie. 
                Wiem, że wiele szkół przywództwa nie dopuszcza takiej ewentualności, by przywódca obnażył swoją słabość i niemoc, 
                ale kiedy patrzę na standardy Bożego Słowa to widzę, że takie rzeczy miały miejsce. Jednym z wielu przykładów jest król Jehoszafat, 
                który stanął w miejscu totalnej bezradności i przeźroczystości przed Bogiem i Jego ludem z wyznaniem, 
                na które wielu współczesnych przywódców nigdy, by sobie nie pozwoliło: ” Boże nasz! Czy ich nie osądzisz? 
                By myśmy bezsilni wobec tej licznej tłuszczy, 
                która wyruszyła przeciwko nam; nie wiemy też, co czynić, lecz oczy nasze nasze na ciebie są zwrócone„.
            </p>
            <p>
                Zrozumieliśmy, że te niezwykłe rzeczy, 
                które Bóg nam pokazał w 1995 roku nie mogły i nie mogą się wydarzyć bez głębokiej przemiany naszych serc. 
                Bóg uczył nas i pokazywał nam  rzeczy, które są niezbędne, by stać się narzędziami w Jego rękach gotowymi do wypełnienia Jego woli. 
                Żeby wymienić tylko kilka z nich, to musiałbym wspomnieć o pokorze, słuchaniu Jego głosu, uczeniu się zależności od Niego, 
                znoszeniu przeciwności i sprzeciwu innych, radzeniu sobie z niesprawiedliwym osądem czy uczeniu się duchowej walki na osobistym poziomie. 
                Bez tych lekcji, które wciąż i bezustannnie pobieramy u Boga nie moglibyśmy zobaczyć Jego dzieła i świadomość tego faktu jest aż nadto oczywista.
            </p>
            <p>
                W 2004 roku Bóg w swojej łasce dał nam na własność obiekt, który zaadoptowaliśmy na potrzeby naszej wspólnoty. 
                Był to prawdziwy cud, ponieważ nie mieliśmy na to żadnych własnych środków. 
                Nie tylko mogliśmy ten obiekt zakupić, wyremontować, ale także wyposażyć. 
                Bóg zabezpieczył wszystkie nasze materialne potrzeby jakie mieliśmy. Traktujemy to jako dowód Jego wierności i prowadzenia.
            </p>
            <p>
                Wiem, że to wyznanie także może nie być typowe dla przywódcy, ale kocham ludzi, którym przyszło mi służyć. 
                Poczytuję sobie to za największy zaszczyt, że Bóg mnie z tymi osobami połączył. 
                Przeżyliśmy ze sobą wiele pięknych i niezwykłych chwil, ale doświadczyliśmy też bólu i wielu rozczarowań.
                Ale nic jak do tej pory nie było nas w stanie podzielić i oddzielić od siebie i ufam, że tak pozostanie. 
                Mam pełną świadomość naszych wad, słabości czy niedoskonałości, ale nigdy nie zwątpiłem, że przyszło mi żyć z ludźmi, 
                którzy są według Bożego serca. Ponieważ Bóg kształtował z nas wspólnotę Górnej Izby, to wierzę, 
                że nadchodzi dzień, w którym nasz Pan przyjdzie do nas nagle, i ufam, że ten cały potencjał, 
                który włożył w nas zostanie uwolniony. Czekam na ten moment z ogromnym utęsknieniem.
            </p>
        </div>
    </div>
</div>