

<div class="row nomargin">
    <div class="col"></div>
    <div class="col-9">
        <p>
            Naszą wspólnotę tworzą osoby pochodzące z różnych środowisk, miejsc, będące w różnym wieku, niosące też różny bagaż doświadczeń, 
            które połączyła miłość do Boga. 
            Pragniemy żyć w zgodzie z największym przykazaniem, które zachęca nas do kochania Boga i drugiego człowieka.
        </p>
        <p>
            Wierzymy, że każdy człowiek bez wyjątku został powołany do bliskiej, pełnej miłości więzi ze swoim Stwórcą. 
            I to z tej relacji, która jest zaprzeczeniem pustej, bezwartościowej religijności, wynika nasza wiara w Bożą dobroć, 
            Jego opiekę i Jego codzienne prowadzenie.
        </p>
        <p>
            Wierzymy też, że Bóg, stwarzając człowieka na swój obraz i podobieństwo, włożył w niego pragnienie życia we wspólnocie, 
            w której wzajemna miłość, szacunek i otwartość tworzą właściwy fundament do zmierzenia się z trudnościami, jakie niesie ze sobą życie.
        </p>
        <p>
            Rozumiejąc kruchość ludzkiej natury i jej podatność na grzech, sami doświadczając słabości, rzeczywistości grzechu i jego skutków, 
            staramy się pielęgnować w sobie postawę miłości i akceptacji drugiego człowieka, odmawiając sobie prawa do osądzania, 
            wywyższania siebie nad innych, czy tym bardziej pogardy. 
            Jednocześnie dostrzegamy bezwzględną konieczność pojednania się z Bogiem i korzystania z Jego łaski uzdalniającej nas do prawego życia.
        </p>
        <p>
            Nie uważamy, że jakikolwiek kościół czy związek wyznaniowy ma monopol na prawdę, ale żywimy głębokie przekonanie, 
            że Bogu „miły mu jest ten, kto Go szanuje i postępuje sprawiedliwie” (Dzieje Apostolskie 10:35), bez względu na płeć, wiek, narodowość, rasę, 
            wykształcenie czy przynależność wyznaniową.
        </p>
        <p>
            Pragniemy, by życie ludzi wokół nas zostało przemienione przez osobiste spotkanie z żywym Bogiem i doświadczenie Jego miłości. 
            Temu pragnieniu chcemy podporządkować życie, wiedząc, że zostaliśmy stworzeni po to, 
            „żyli już nie dla siebie, ale dla Tego, który za nich umarł i zmartwychwstał.” (2 Koryntian 5:15).
        </p>
    </div>
    <div class="col"></div>
</div>