<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">

<style>
    .double-bold {
border-bottom: 4px double;
}
.bold{
    font-weight: bolder;
}
.bold{
    text-decoration: bold;
}
</style>
</head>
<div class="row nomargin justify-content-center">
  <div class="col"></div>
  <div class="col-9">
  <div id="item-2-1">
    <div class="mt-2">
        <h2 class="mb-1">1. Jeden Bóg - trzy osoby.</h2>
        <p class="pt-1">
          <p>
            Wierzymy w jednego Boga, który istnieje w trzech osobach - Bóg Ojciec, Bóg Syn i Bóg Duch Święty.
          </p>
          Wierzymy w Boga który jest źródłem wszelkiego życia, pełni i miłości - Stwórcę namiętnie zakochanego w ludzkości
                    

                
            Bóg jest nie tylko źródłem życia, ale także źródłem mocy i uzdrowienia. 
            Wierzymy, że miłość Boga przejawia się w darach Ducha Świętego, takich jak mówienie językami, 
            prorokowanie i uzdrawianie, 
            
                które są dostępne dla <span class="bold">wszystkich</span> wierzących w dzisiejszych czasach. 
                
            
          </div>   
          <div class="text-end mt-2">
            Psalm 36:9, Jana 4:14, Jana 3:16 
          </div>
        </p>
  </div>
  <div id="item-2-2">
    <div class="mt-2">
        <h2 class="mb-1">2. Bóg objawia się w Jezusie.</h2>
        <p class="pt-1">
          <div>
            Wierzymy, że Bóg objawia się w Jezusie Chrystusie -
            Jezus jest pełnym objawieniem Boga i dzięki Niemu możemy mieć <span class="bold">osobistą relację z Bogiem.</span> 
        
            Wierzymy, że nauki i cuda Jezusa pokazują moc Boga, i że dzięki wierze w Niego możemy doświadczyć tej mocy w naszym życiu.
            </div>
              
            <div class="text-end mt-2">
                Jana 1:14, Kolosan 1:15
            </div>    
        </p>
      </div>
  </div>
  <div id="item-2-3">
    <div class="mt-2">
        <h2 class="mb-1">3. Jezus objawia Boga.</h2>
        <p class="pt-1">
          Jezus w swoim życiu objawia Boga w łasce, miłosierdziu, przebaczeniu i sprawiedliwości.
          Łaska i miłosierdzie Boga objawiają się w przebaczeniu grzechów i udzieleniu Ducha Świętego.
          <div class="text-end mt-2">
              Efezjan 2:8-9, Rzymian 3:22-24, Rzymian 5:8
          </div>      

        </p>
      </div>
  </div>
  <div id="item-2-4">
    <div class="mt-2">
        <h2 class="mb-1">4. Jezus ma wpływ na świat.</h2>
        <p class="pt-1">
          Wierzymy, że śmierć Jezusa ma realny wpływ na dzisiejszy świat
          oraz, że w swojej śmierci Jezus objawia zdecydowaną obecność Boga w świecie, 
          nawet w obliczu nienawiści, przemocy i bólu. 
          śmierć Jezusa na krzyżu ukazuje miłość Boga do ludzkości i Jego determinację, by zbawić nas od naszych grzechów. 
            
          
              Wierzymy, że dzięki mocy krzyża możemy pokonać
                  <span class="bold">
                      grzech, śmierć i diabła.
                  </span>
              
          <div class="text-end mt-2">
              Izajasza 53:4-5, Jana 3:16 
          </div>
        </p>
      </div>
  </div>
  <div id="item-2-5">
    <div class="mt-2">
        <h2 class="mb-1">5. Bóg powołuje do lepszego życia.</h2>
        <p class="pt-1">
          Wierzymy, że w swoim zmartwychwstaniu Jezus objawia Boga, który powołuje nas do lepszego i obfitego życia teraz i na wieki.

          Życia, które wykracza poza nasze lękliwe i kruche wyobrażenia.

          Zmartwychwstanie Jezusa jest gwarancją naszego zmartwychwstania i życia wiecznego.  

          <div class="text-end mt-2">
          Jana 10:10, Rzymian 6:4, 1 Koryntian 15:20-22
          </div>  
          
        </p>
      </div>
  </div>
  <div id="item-2-6">
    <div class="mt-2">
        <h2 class="mb-1">6. Miłość nie dyskryminuje.</h2>
        <p class="pt-1">
            Wierzymy, że Bóg nie dyskryminuje nikogo w swojej miłości,
              
          niezależnie od ich wieku, rasy, pochodzenia, wyznania, preferencji politycznych czy seksualnych.
          On oferuje życie każdemu, kto w Niego uwierzy.
      
          <p>
            <span class="bold">Wszyscy</span> potrzebujemy Jego pomocy.
          </p>
      
        
          <div class="text-end mt-2">Jana 3:16, Rzymian 5:8, Galacjan 3:28, Efezjan 2:8-9</div>
      
        </p>
      </div>
  </div>
  <div id="item-2-7">
    <div class="mt-2">
        <h2 class="mb-1">7. Bóg żyje wśród nas.</h2>
        <p class="pt-1">
          <div>
            Wierzymy, że Bóg żyje wśród nas, w nas i przez nas mocą Ducha Świętego.
          </div>
          Duch Święty zamieszkuje <span class="bold">każdego</span> wierzącego i uzdalnia go do życia miłego Bogu.
          Wierzymy, że dzięki Duchowi Świętemu możemy mieć osobistą relację z Bogiem i dostęp do Jego mocy i darów.  
          <div class="text-end mt-2">Jana 14:16-17, Rzymian 8:11</div>      
          
        </p>
      </div>
  </div>
  <div id="item-2-8">
    <div class="mt-2">
        <h2 class="mb-1">8. Bóg porusza do bycia razem.</h2>
        <p class="pt-1">
          <div>
            Wierzymy, że Bóg porusza nas, abyśmy byli razem we wspólnotach wiary, nadziei i miłości.
          </div>
          Bóg wzywa nas do bycia częścią wspólnoty wierzących, w której możemy się nawzajem 
          zachęcać, wspierać i budować w wierze.
          Wierzymy, że ta wspólnota powinna charakteryzować się 
          
                  wiarą, nadzieją i miłością,
          i że dzięki niej możemy doświadczyć mocy i obecności Boga w wyjątkowy sposób.
          <div class="text-end mt-2">Hebrajczyków 10:25, 1 Koryntian 12:12-27</div>
            
        </p>
      </div>
  </div>
  <div id="item-2-9">
    <div class="mt-2">
        <h2 class="mb-1">9. Wiara czyni cuda.</h2>
        <p class="pt-1">
                Wierzymy, że dzięki wierze możemy więcej.
              
          Wierzymy w te rzeczy nie z pewności, ale z wiary, jako ci, 
          którzy ufają w rzeczywistość Boga objawionego w Jezusie Chrystusie przez Ducha Świętego. 
              
              Wiara jest kluczem do doświadczenia rzeczywistości Boga i Jego mocy w naszym życiu.
          
          
              Wierzymy, że dzięki wierze możemy uzyskać dostęp do obietnic Boga i doświadczyć mocy Ducha Świętego w namacalny sposób. 
          
        
          <div class="text-end mt-2">Hebrajczyków 11:1, Rzymian 10:17</div> 
                
        </p>
      </div>
  </div>
  </div>
  <div class="col"></div>
</div>





